<!DOCTYPE html>
<html lang="en" ng-app="bouncerApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

    <!-- Bootstrap Core CSS -->
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/main.css" rel="stylesheet">

    <style>

    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <%- include navigation.ejs %>

    <div class="hidden col-md-6 col-md-offset-3">
        <h1>Heading</h1>
        <p class="box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius pulvinar luctus.</p>
    </div>
    <div class="container box hidden col-md-6 col-md-offset-3">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Index</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius pulvinar luctus. Donec non tincidunt purus, vitae sollicitudin ipsum. Nullam dictum rhoncus nunc quis ornare. Praesent ante velit, vestibulum faucibus pharetra in, accumsan id libero. Praesent nulla enim, vestibulum non auctor sed, ullamcorper vel nisl. Suspendisse sit amet orci maximus, imperdiet felis euismod, maximus metus. Curabitur sed ullamcorper arcu. Donec venenatis varius nisl ut sodales. Donec venenatis ipsum vel metus viverra, a volutpat ipsum tempor. Duis ullamcorper pellentesque est et tempor.

                </p>

            </div>
        </div>
    </div>
    <div class="hidden col-md-6 col-md-offset-3">
        <h1>Benchmarking</h1>
        <p class="box-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius pulvinar luctus.</p>
    </div>
    <div class="container box hidden col-md-6 col-md-offset-3 graphContainer" ng-controller="RequestsGraphController">

        <div class="row">
            <div class="col-lg-6 col-md-offset-3 text-center">
                <h1></h1>
                <button class="btn btn-success btn-lg" id="showRequestsGraph" ng-show="graphOff" ng-click="startGraph()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Start
                </button>

                <button class="btn btn-primary btn-lg" id="showRequestsGraph" ng-show="benchmarkCompleted" ng-click="">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    Stats
                </button>

                <div class="spinner" ng-hide="graphOff">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Requests Per Second</h1>
                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                        chart-legend="false" chart-series="series" chart-click="onClick"></canvas>

            </div>

            <!--<div class="col-md-6 text-center">-->
                <!--<h1>Requests Per Time</h1>-->
            <!--</div>-->


        </div>
    </div>

    <%- include footer.ejs %>
    <script src="../js/controllers/requestsGraphController.js"></script>

</body>

</html>
